<div class="container">
  <h1>{{title}}</h1>

  <!--<app-inputs-and-outputs-parent>Loading...</app-inputs-and-outputs-parent>-->
  <!--<app-template-driven-forms></app-template-driven-forms>-->
  <!--<app-model-driven-forms></app-model-driven-forms>-->
  <div class="row">
    <div class="col-md-8 col-md-offset-3">
      <h3>{{errorMessage}}</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let name of names">{{name.id}}. {{name.name}}</li>
      </ul>
    </div>
  </div>
</div>
