<div class="container">
  <h1>{{title}}</h1>

  <!--<app-inputs-and-outputs-parent>Loading...</app-inputs-and-outputs-parent>-->
  <!--<app-template-driven-forms></app-template-driven-forms>-->
  <!--<app-model-driven-forms></app-model-driven-forms>-->
  <div class="row">
    <div class="col-md-6 col-md-offset-0">
      <h3>{{errorMessage}}</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let person of names" (click)="onSelect(person)">
          {{person.id}}. {{person.name}}</li>
      </ul>
    </div>

    <div class="col-md-6">
      <nav>
        <a routerLink="directives_example" class="btn btn-primary" routerLinkActive="active">Directives</a>
        <a routerLink="pipes" class="btn btn-primary" routerLinkActive="active">Pipes</a>
        <a routerLink="" class="btn btn-primary" routerLinkActive="active">Home</a>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
